/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 0rem;
  /*padding-bottom: 3rem;*/
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
  /*position:absolute;*/
  
  bottom: 32px;
  margin:auto;
  /*height:20px;
  /*right:10px; left:auto;*/
  width:auto;
  }
  .carousel-indicators li{
    display:block; 
    margin-bottom:5px; 
    border:1px solid #5a5a5a; 
  }
  .carousel-indicators li.active{
    margin-bottom:5px;
    background:#5a5a5a;
  }
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-caption p a{
  margin-bottom: 18vh;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
  /*background-color: #777;*/
  background: linear-gradient(rgba(0,0,0, .4),rgba(0,0,0, .6));
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    /*margin-bottom: 1.25rem;*/
    font-size: 1.25rem;
    line-height: 1.4;
    
  }
#webname h1{
    font-size: 28px;
}
.carousel-item {
  height: 100vh;
  /*background-color: #777;*/
  background: linear-gradient(rgba(0,0,0, .4),rgba(0,0,0, .6));
}
.carousel-caption p a{
  margin-bottom: 18vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 48em) {}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
.carousel-item {
  height: 100vh;
  /*background-color: #777;*/
  background: linear-gradient(rgba(0,0,0, .4),rgba(0,0,0, .6));
} 
.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
}
.carousel-caption p a{
  margin-bottom: 15vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
}
.featurette-heading {
    font-size: 60px;
  }
}
@media (min-width:78em) {
 
  
}
@media (min-width: 86em) {

}
@media (min-width: 92em) {
  .carousel-caption p a{
    margin-bottom: 35vh;
  }
}
