/* EVENTS SECTION */
.events_section_area #projects{
    display: flexbox;
    flex-direction: row-reverse;
}
.events_section_area .events_single {
    margin: 60px 20px 0;
}
.events_section_area .events_single img {
    width: 100%;
}
.events_section_area .events_single p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    margin-top: 14px;
    font-weight: 400;
    position: relative;
}
.events_section_area .events_single p i {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}
.events_section_area .events_single p span.event_left {
    left: 0;
    position: absolute;
    padding-left: 20px;
}
.events_section_area .events_single p span.event_right {
    position: absolute;
    right: 0;
    padding-left: 20px;
}
.events_section_area .events_single h3 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
    text-align: center;
    color: #251021;
}
.events_section_area .events_single:hover h3 {
    /*color: #251021;*/
    text-decoration: none;
    color: lightslategray;
}
.events_section_area .events_single h6 {
    color: #6f6f6f;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.wrappers .events_section_area h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}
/*.wrappers .events_section_area h2::before {
    background: #251021 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 48%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}*/
.wrappers .events_section_area p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;  
}
.footer_carosal {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 150px;
    padding: 60px 0;
}
.footer_carosal .carousel .carousel-inner .carousel-item img {
    width: 150px;
}
.footer_carosal .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}
/* The colour of the indicators */
.footer_carosal .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.footer_carosal .carousel-indicators .active {
background: #707070;
}

