.header .header-top {
    background: #01d262 none repeat scroll 0 0;
    height: 50px;
}

.contact>p {
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .contact p a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header .header-top .contact p span {
    margin-right: 45px;
}

.join-us>p {
    background: #089549 none repeat scroll 0 0;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .join-us p a {
    background: #089549 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: 500;
    padding: 0 40px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header .header-bottom .menu {
    margin: 34px 0;
}

.header .header-bottom .menu ul {
    float: right;
}

.header .header-bottom .menu ul li a {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 0;
}

.wrapper section>h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}

.wrapper section>h2::before {
    background: #01d262 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 48%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}

.wrapper section>p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}