.header{
    background: ghostwhite;
}
.btn-primary{
    background:#00b8d4 !important;
    border-radius: 0px solid #00b8d4!important;
    border-color: #00b8d4 !important;
    color: #251021;
}
.btn-primary:hover{
    background:#251021!important;
    border-radius: 0px solid #4dd0e1 !important;
    border-color: #4dd0e1!important;
    color: #4dd0e1;
}
.btn-outline-success{
    border-radius: 3px;
}
.status{
        background: #9B1B30;
        color: white;
        padding: 1em;
        margin-top: 5px;
}
.carousel-caption a{
    font-weight: 500;
    font-display: bold;
}
.nav-content{
    z-index: 150;
    position: fixed;
    width: 100%;
}
.link-item {
    font-size: 20px;
    color: #eee;
    border-bottom: 1px solid #eee;
}
.link-item:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 50% 50% 0 0;
    background: rgba(0, 0, 0, .3);
}
/* costume navigation*/
.hamburger-menu {
    width: 65px;
    height: 65px;
    background: #7f7b82;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 200;
    border-radius: 50%;
    outline: none!important;
    transition: all .5s;
}
.line1, 
.line2,
.line3 {
    width: 30px;
    height: 2px;
    background: #eee;
    margin: 5px;
    transition: all .5s;
}
.bg-cover {
    background: rgba(35, 37, 40, .98);
    width: 55px;
    height: 55px;
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 100;
    border-radius: 50%;
    transition: all .5s;
}
.change .line1 {
    transform: rotate(-405deg) translate(-5px, 5px);
    background: #777;
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(405deg) translate(-5px, -5px);
    background: #777;
}

.change .hamburger-menu {
    background: #eef0eb;
}

.change .bg-cover {
    transform: scale(150);
}

.common-title {
    display: inline-block;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px #aaa;
    transition: all .5s;
}

.common-title:first-letter {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    margin-right: 10px;
    font-style: normal;
}

.common-title:hover {
    transform: translate(-5px, -3px);
    text-shadow: 2px 5px 20px #aaa;
}
.me{
    padding-right: 49px;
    color: #251021;
    border-color: #6cbaae;
    background: #6cbaae;
    border-width: 3px;
        padding: 10px 25px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 23px;
    text-decoration: none;
        outline: none !important;
    box-sizing: border-box;
    
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472D2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    font-size: 14px;
    padding: 14px 20px;
}
.exprience {
    padding: 2vh 0;
    background: url(https://i.ibb.co/r4xf3sK/newslater.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.exprience:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
.fw-medium {
    font-weight: 500!important;
}.text-primary {
    color: #f12639!important;
}.text-uppercase {
    text-transform: uppercase!important;
}


